:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(23, 23, 23, 0.87);
  background-color: #b6b6b6;


}

a {
  font-weight: 500;
  color: rgba(23, 23, 23, 0.87);
  text-decoration: none;
}
a:hover {
  color: rgba(127, 127, 127, 0.87);
}

body {
  margin: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

